<h1>Listado de materias</h1>

<% @subjects.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |subject| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag(subject.picture_url), subject, :size => "240x150", width: '80%' if subject.picture.present?%>
          <div class="caption">
            <h3 class = "panel-title text-ellipsis"><%= link_to subject.name, subject %></h3>
            <%= subject.description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<!--
<% @subjects.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |subject| %>
      <div class="col-md-4">
        <%= image_tag subject.picture_url,:size => "240x150", width: '80%' if subject.picture.present?%>
        <h3 class = "panel-title text-ellipsis"><%= link_to subject.name, subject %></h3>
        <%= subject.description %>
      </div>
    <% end %>
  </div>
<% end %>
-->

<!--
<table class="elliptical">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Código</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.description %></td>
        <td><%= subject.code %></td>
        <td><%= image_tag subject.picture_url(:thumb) if subject.picture? %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
-->
<%= link_to 'New Subject', new_subject_path %>
