<h1>Nueva materia</h1>
<div class="panel=body">
	<%= form_for(@subject) do |f| %>
		<blockquote>
			<div class="form-group">Nombre de la materia</div><div><%= f.text_field :name %></div>
			<div class="form-group">Descripción</div><div><%= f.text_field :description %></div>
			<div class="form-group">Código</div><div><%= f.text_field :code %></div>
			<div class="form-group">Año</div><div><%= f.text_field :year %></div>
	    	<div class="form-group"> Imagen representativa </div><div><%= f.file_field :picture %></div>
	    </blockquote>
	    <div><%= f.submit "Publicar", class:"btn btn-primary btn-sm" %></div>
	<%end%>
</div>
<!--
<div class = "panel-footer text-ellipsis">
	<span>*</span> <span>Campos obligatorios</span>		
</div>
-->

<!-- <%= render 'form' %> -->
<div><%= link_to 'Volver al listado de materias', subjects_path %></div>
