<!-- <p id="notice"><%= notice %></p> -->

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@subject.picture_url, :size => "240x150", width: '100%') if @subject.picture.present? %>
 <!-- </div>

  <div class="col-md-3"> -->
    <p><b>Name: </b><%= @subject.name %></p>
    <p><b>Description: </b><%= @subject.description %></p>
    <p>
      <%= link_to 'Edit', edit_subject_path(@subject) %> |
      <%= link_to 'Destroy', @subject, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', subjects_path %>
    </p>
  </div>
</div>

<!--
<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@subject.picture_url, :width => 600) if @subject.picture.present? %>
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
	  	<div>
	  	  <strong><%= comment.user_name %></strong>
	   	  <br />
	  	  <p><%= comment.body %></p>
	      <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
	  	</div>
  <% end %>
  <%= render 'comments/form' %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>

-->
