<!-- <p id="notice"><%= notice %></p> -->

<div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="panel panel-personal">
          <div class="panel-heading">
            <center><h3 class="panel-title"><span class="negrita"><%= @subject.name %> | Código: </span><%= @subject.code %></h3></center>
          </div>
          <div class="panel-body">
            <!--<%= image_tag(@subject.picture_url, :size => "240x150", width: '100%') if @subject.picture.present? %> -->
            <% unless @subject.description.blank? %>
              <p><span class="negrita">Descripción: </span><%= @subject.description %></p>
            <% end %>
            <hr>
            <center>
            <% unless @subject.website.blank?%>
              <p><%= link_to 'Sitio web de la cátedra', @subject.website, target:"_blank", class:"destacado" %></p>
            <% end %>
            <% unless @subject.notes.blank?%>
              <p><%= link_to 'Apuntes, exámenes y resúmenes', @subject.notes, target:"_blank", class:"destacado" %></p>
            <% end %>

            <hr>
        <!--    <p><b>Código: </b><%= @subject.code %></p>
            <p><b>Año: </b><%= @subject.year %></p> -->

        <!-- 

            COMMENTS SHOULD BELONG TO A USER, NOT A SUBJECT

        -->
            <p class="destacado">
              <%= link_to 'Editar', edit_subject_path(@subject)%> |
              <%= link_to 'Eliminar', @subject, data: { confirm: '¿Estás segur@?' }, method: :delete %> |
              <%= link_to 'Volver', subjects_path %>
            </p>
            </center>
            <hr>
            <% if @comments.count > 0 %>
              <h3 class="panel-title">Comentarios</h3>
              <% @comments.each do |comment| %>
                 <div>
                    <strong><%= comment.user_name %></strong>
                     <br /><p><%= comment.body %></p>
                     <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: '¿Estás segur@?' } %></p>
                  </div>
              <% end %>
            <% end %>

            <h3>Haz un comentario</h3>
            <%= render 'comments/form' %>
            </p>
         </div>

      </div>
    </div>
  </div>
</div>